<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/design_index.css" />
    </head>
    <body>
        <div id="wrapper">
            <h1>Hello welcome to my MVC</h1>
        </div>
    </body>
</html>